*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e5e5e5;
}
header{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#header-title{
    color: #17a4a3;
    font-family: Arial, Helvetica, sans-serif;
}
#header-subtitle{
    width: 200px;
    text-align: center;
    color: white;
    padding: 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fab234;
}
.content-wrapper{
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}
.content-title{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.content-text{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
}

.article-title{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.article-text{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
}
.article-list{
    margin-top: 10px;
}
.article-list-item{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: justify;
}
